<div class="accessory-compact" data-item-id="{{id}}" data-item-type="accessoire" data-rarity="{{system.rarete}}">
    <div class="accessory-compact-content" draggable="true">
        <!-- **CORRECTION : Ajout image et nom manquants** -->
        <div class="accessory-compact-header">
            <img class="accessory-compact-image" src="{{img}}" alt="{{name}}"/>
            <div class="accessory-compact-info">
                <h4 class="accessory-compact-name" style="color: {{rarityColor}};">
                    {{name}}
                    {{#if isEquipped}}<span class="equipped-badge">📿</span>{{/if}}
                </h4>
                <div class="accessory-compact-stats">
                    <!-- Icône de rareté en premier et centré -->
                    <div class="rarity-indicator" style="background: {{rarityColor}};">
                        <i class="{{rarityIcon}}"></i>
                    </div>
                    <span class="encombrement-compact">ENC: {{system.encombrement}}</span>
                    <span class="value-compact">{{system.valeurOr}}</span>
                    
                </div>
            </div>
        </div>
        
        <!-- **IDENTIQUE aux armures : Traits condensés** -->
        {{#if (or system.traits system.imperfections)}}
        <div class="accessory-compact-traits">
            {{#if system.traits}}
                <div class="traits-compact positive">
                    <i class="fas fa-plus-circle"></i>
                    <span class="traits-count">{{system.traits.length}}</span>
                </div>
            {{/if}}
            {{#if system.imperfections}}
                <div class="traits-compact negative">
                    <i class="fas fa-minus-circle"></i>
                    <span class="traits-count">{{system.imperfections.length}}</span>
                </div>
            {{/if}}
        </div>
        {{/if}}
    </div>
    
    <!-- **IDENTIQUE aux armures : Actions conditionnelles** -->
    <div class="accessory-compact-actions">
        <button type="button" class="accessory-open" 
                data-item-id="{{id}}" 
                title="Ouvrir la fiche">
            <i class="fas fa-external-link"></i>
        </button>
        {{#if isEquipped}}
            <button type="button" class="accessory-unequip" 
                    data-item-id="{{id}}" 
                    title="Déséquiper">
                <i class="fas fa-times"></i>
            </button>
        {{else}}
            <button type="button" class="item-equip" 
                    data-equip-type="accessoire" 
                    data-item-id="{{id}}" 
                    title="Équiper">
                <i class="fas fa-ring"></i>
            </button>
            <button type="button" class="item-remove" 
                    data-item-id="{{id}}" 
                    title="Supprimer">
                <i class="fas fa-trash"></i>
            </button>
        {{/if}}
    </div>
</div>
